@model ANZHFR.Web.Models.UserModel

@using ANZHFR.Web.ExtensionMethods

@{
    ANZHFR.Web.Models.UserInfoModel CurrentUser = HttpContext.Current.User.GetUserInfo();
}

@{
    ViewBag.Title = "Change Password";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            @using (Html.BeginForm())
            {

                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.UserID)
                @Html.HiddenFor(model => model.Page)
                @Html.HiddenFor(model => model.FilterSearchName)

                <div style="text-align: center; margin-bottom: 10px;">@ViewBag.Message</div>
                <div class="editor label-width100 form-width400">
                    <div class="editor-label">
                        Current User
                    </div>

                    <div class="editor-field">
                        <input type="text" value="@CurrentUser.Email" name="CurrentUser" id="CurrentUser" readonly="readonly" />
                    </div>

                    <div class="editor-label">
                        <label for="CurrentPassword">Current Password</label>
                    </div>
                    <div class="editor-field">
                        <input type="password" name="CurrentPassword" id="CurrentPassword" data-val-required="The Current Password field is required." data-val-length-max="20" data-val-length="The field Current Password must be a string with a maximum length of 20." data-val="true">
                        <span data-valmsg-replace="true" data-valmsg-for="CurrentPassword" class="field-validation-valid"></span>
                    </div>
                    <hr />
                    <div class="editor-label">
                        <label for="Password">New Password</label>
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password1)
                    </div>
                    <div class="editor-label">
                        Confirm New Password
                    </div>

                    <div class="editor-field">
                        @Html.EditorFor(model => model.ConfirmPassword1)
                        @Html.ValidationMessageFor(model => model.ConfirmPassword1)
                    </div>
                </div>

                <div class="form-bottom margin-left100">
                    <input type="submit" value="Save" class="btn btn-success btn-lg" id="save-btn" />
                </div>
                <div class="clear"></div>
            }
        </div>
    </div>
</div>